
div#Title-container {
    /* for old version title */
    font-size: 1em;
    text-align: center;
}

div#form-title {
    font-size: 1em;
    text-align: center;
}

div#input-title {
    font-size: 1.75em;
    width: 60%;
    text-align: center;
    margin: auto;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}