
textarea.MCQ-description{
    /*overflow: scroll;*/
    margin: 1em 3px;
    width: 90%;
    resize: none;
}

label[for=single-choice] {
    margin-right: 0.5em;
}

div[class=form-MCQ-choicelist] {
    margin: 0.5em 0em 1em 0em;
}

button[class=add-choice-button] {
    margin-bottom: 0.5em;
}

div[class=MCQ-choice] {
    margin-top: 0.3em;
}

input[class=MCQ-choice-input] {
    width: 70%;
    margin-right: 0.5em;
    resize: none;
}